* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-font-color: green;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;

}

html {
    background-color: green;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

header img {
    max-width: 150px;
    margin: 2vh;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    color: var(--var-font-color);
    overflow-x: hidden;
}

a {
    color: var(--var-font-color);
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    position: relative;
}

header h2 {
    margin-right: auto;
    font-size: 200%;
    font-variant: small-caps;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    background-color: rgba(220, 220, 220, 0.35);
}

nav a {
    padding: 2vh 1vw;
    display: block;
    font-weight: bold;
    font-variant: small-caps;
    transition: all 300ms ease;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(251, 251, 251);
    text-shadow: 1px 1px 1px green, -1px -1px 1px green, 1px -1px 1px green, -1px 1px 1px green;


}

main {
    display: flex;
    gap: 1vw;
    justify-content: center;
}

aside, section {
    flex: 0 1 400px;
    border: 3px ridge rgb(245, 241, 245);
    height: 400px;
    background-color: rgba(130, 250, 114, 0.311);
    font-size: 170%;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0), -1px -1px 1px rgb(0, 0, 0), 1px -1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(0, 0, 0);
}

footer {
    padding: 3vh 0;
}

footer p {
    text-align: center;
    font-size: 85%;
    color: white;
    text-shadow: none;
}

#hamburger-icon, #x-icon {
    z-index: 999;
    position: absolute;
    top: 2vh;
    right: 2vw;
    display: none;
    font-size: 130%;
}



#hamburger-icon:hover, #x-icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    html {
        background-image: url(../images/mobile.jpg);
    }
    main {
        flex-direction: column;
        align-items: center;
    }

    aside, section {
        width: 95%
    }

    header {
        flex-direction: column;
        justify-content: center;
    }

    header h2 {
        margin-right: 0;
        text-align: center;
    }

    #navigation {
        position: absolute;
        top: 0;
        right: 0;
        width: 65vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateX(100%);
        transition: all 300ms ease-in;
        z-index: 99;
    }

    #navigation[data-visible ="true"] {
        transform: translateX(0%);
    }

    #showNavigation {
        z-index: 9999;
        width: 25px;
        aspect-ratio: 1;
        background-color: transparent;
        border: none;
        position: absolute;
        background-image: url(../images/hamburger.png);
        background-position: center;
        background-size: cover;
        top: 3vh;
        right: 3vh;
    }

    #showNavigation[data-visible="false"] {
        display: block;
    }

    #showNavigation[data-visible="true"] {
        background-image: url(../images/x-icon.png);
    }

    nav ul {
        flex-direction: column;
        margin-top: 30vh;
    }
    
    nav li {
        background-color: transparent;
    }

    #hamburger-icon, #x-icon {
        display: block;
    }
}